<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a registration form</title>
</head>
<body>

    <center>
        <h1>AIUB</h1>
        <h2>Course Registration Form</h2>
    </center>  

    <h3 align="left">start the registration and fill the form</h3>



    <table>    
    <tr>
           
    <td> Enter Your Name: </td> <td> <input type="text"><br>
</td>


    </tr>
    <!-- Enter Your Name: <input type="text"><br> -->

    <tr>
    <td>Enter Your Age:</td> <td> <input type="text"> <br> </td>


    </tr>

    <tr>
    <td>select your language:</td> 
    <td><input type="radio" name="des">English</td>
    <td><input type="radio" name="des">Bangla</td>
    <td><input type="radio" name="des">Arabic <br></td>

    </tr>

   


    select your PL:
    <input type="checkbox">C++
    <input type="checkbox">C#
    <input type="checkbox">java <br>



    </table>





    
</body>
</html>